@model TodoItem

@using(Html.BeginForm("AddItem", "Todo"))
{
    <div class="form-floating form-group">
        @Html.TextBoxFor(item => item.Title, new { @class = "form-control", placeholder = "Title" })
        @Html.LabelFor(item => item.Title)
        @Html.ValidationMessageFor(item => item.Title)
    </div>
        <div class="form-floating form-group">
        @Html.TextBoxFor(item => item.DueAt, new { @class = "form-control", placeholder = "Due at" })
        @Html.LabelFor(item => item.DueAt)
        @Html.ValidationMessageFor(item => item.DueAt)
    </div>
    <div class="form-floating form-group">
        @Html.AntiForgeryToken()
        <button class="btn btn-primary" type="submit">Add</button>
    </div>
}